* {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
    font-size: 16px;
}

header {
    position: relative;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}

header > .icon {
    display: inline-block;
    width: 10rem;
    height: auto;
}

header > h1 {
    padding: 1rem;
    color: white;
    height: auto;
    text-align: center;
    align-items: center;
    vertical-align: center;
}

main {
    /*position: relative;*/
    width: auto;
    height: auto;
    margin: 1rem 23rem 1rem 1rem;
}

main > .function-show {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

main > .function-show > * * {
    font-size: 16px;
}

main > #graph,
main > #graph > * {
    width: auto;
    height: 100%;
}

footer {
    position: relative;
    margin: 0 5% 3%;
    width: calc(90% - 23rem);
    border-top: 1px solid var(--secondary);
    text-align: center;
}

.version {
    position: fixed;
    float: bottom;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.7rem;
    color: var(--secondary);
}
