* {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
}

header {
    position: relative;
    background-color: var(--primary);
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 1rem;
}

header > .icon {
    display: inline-block;
    width: 10rem;
    height: auto;
}

header > h1 {
    padding: 1rem;
    color: white;
    height: auto;
    text-align: center;
    align-items: center;
    vertical-align: center;
}

main {
    position: relative;
    /* fake -1px so that margin work properly */
    width: calc(75vw - 1px);
    max-height: 75vh;
    margin: 1rem;
    overflow: auto;
}

main::-webkit-scrollbar {
    display: none;
}

main > .function-show {
    display: grid;
    grid-template-rows: 2fr 1fr;
    grid-template-columns: 1fr 3fr 1fr;
    grid-column-gap: 2rem;
    grid-template-areas:
            "hint function-show function-error"
            "hint frame-update function-error";
}

main > .function-show > .hint {
    grid-area: hint;
}

main > .function-show > #function-show {
    grid-area: function-show;
}

main > .function-show > #function-error {
    grid-area: function-error;
}

main > .function-show > .frame-update {
    grid-area: frame-update;
}

main > .function-show > * * {
    text-align: center;
    font-size: 16px;
}

main > .function-show > .hint {
    padding: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    align-items: center;
}

main > .function-show > .hint > * {
    text-align: center;
}

main > .function-show > #function-error {
    color: red;
    align-self: center;
}

main > .function-show > .frame-update {
    height: 100%;
    padding: 0.25rem;
    border: 1px solid var(--border-color);
    border-radius: 0.25rem;
    text-align: center;
    align-self: center;
}

main > .player {
    width: 100%;
    margin: 0.25rem 0;
}

main > #graph {
    width: auto;
    /*height: 65vh;*/
    border: 1px solid var(--secondary);
    border-radius: 0.25rem;
}

main > #graph .node:hover,
main > #graph .edge:hover,
main > #graph .edge:hover > * {
    color: gray;
    stroke: red;
}

main > #graph > * {
    width: auto;
    height: 100%;
}

footer {
    position: absolute;
    bottom: 5%;
    margin: 0 5%;
    width: 90%;
    border-top: 1px solid var(--secondary);
    text-align: center;
}

.version {
    position: fixed;
    float: bottom;
    bottom: 1rem;
    right: 1rem;
    font-size: 0.7rem;
    color: var(--secondary);
}
