* {
    font-family: Comic Sans MS, Comic Sans, cursive;
    font-style: italic;
    font-size: 16px;
}

html {
    padding: 1rem;
    min-width: 600px;
    max-width: 1280px;
    margin: 0 auto;
}

@media (max-width: 1024px) {
    :root {
        font-size: 14px;
    }
}

@media (max-width: 800px) {
    :root {
        font-size: 12px;
    }
}

header {
    position: relative;
    background-color: var(--primary);
}

header > h1::before {
    content: '';
    position: relative;
    display: inline-block;
    width: 10rem;
    height: 4rem;

    background-image: url('../img/ad.ico');
    background-size: contain;
    background-repeat: no-repeat;
}

header > h1 {
    padding: 1rem;
    color: white;
    height: auto;
    text-align: center;
    align-items: center;
    vertical-align: center;
}

main {

}

footer {
    border-top: 1px solid var(--secondary);
    text-align: center;
}

.version {
    position: relative;
    float: right;
    color: var(--secondary);
}
